input,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.control {
	position: relative;
	&__icon {
		display: block;
		width: size(16);
		height: size(16);
		position: absolute;
		top: 0;
		left: size($sm);
		bottom: 0;
		margin: auto 0;
		color: var(--gray);
		pointer-events: none;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__suffix {
		display: block;
		height: size(15);
		font-size: size(15);
		line-height: 1;
		font-weight: 500;
		position: absolute;
		top: 0;
		right: size($bs);
		bottom: 0;
		margin: auto 0;
		color: var(--gray);
		pointer-events: none;
	}
	&__input {
		width: 100%;
		background-color: var(--white);
		border: 1px solid var(--stroke);
		color: var(--black-alt);
		font-size: size(14);
		line-height: size(16);
		font-weight: 400;
		outline: 0;
		border-radius: 8px;
		padding: size(11) size($bs);
		height: size(40);
		&::-webkit-input-placeholder {
			color: var(--gray);
		}
		&::-moz-placeholder {
			color: var(--gray);
		}
		&:-ms-input-placeholder {
			color: var(--gray);
		}
		&:not(:disabled):focus {
			background-color: var(--white);
			border-color: var(--accent);
		}

		&_bg {
			&_fill {
				background-color: var(--bg);
				border-color: var(--bg);
			}
		}
		&_right {
			text-align: right;
		}
		&_width {
			&_full {
				max-width: 100%;
				width: 100%;
			}
		}
	}
	textarea#{&}__input {
		resize: vertical;
		min-height: size(250);
		line-height: 1.5;
	}
	&__icon + &__input {
		padding-left: size(16 + $sm + 8);
	}
	&.error &__input,
	&_error &__input,
	&__input.error,
	&__input_error {
		border-color: var(--danger-01);
	}

	&__error {
		color: var(--danger-01);
		font-size: size(14);
		font-weight: 400;
		display: block;
		margin-top: size(4);
	}
	&__switch {
		position: absolute;
		top: size(12);
		right: size(12);
		outline: 0;
		cursor: pointer;
		border: 0;
		background-color: transparent;
		padding: 0;
		width: size(16);
		height: size(16);
		color: var(--gray);
		&:hover {
			color: var(--text-base);
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
