input,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.control {
	position: relative;
	display: flex;
	&__icon {
		display: block;
		width: size(16);
		height: size(16);
		position: absolute;
		top: 0;
		left: size($sm);
		bottom: 0;
		margin: auto 0;
		color: var(--gray);
		pointer-events: none;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__suffix {
		display: block;
		height: size(15);
		font-size: size(15);
		line-height: 1;
		font-weight: 500;
		position: absolute;
		top: 0;
		right: size($bs);
		bottom: 0;
		margin: auto 0;
		color: var(--gray);
		pointer-events: none;
	}
	&__input {
		width: 100%;
		background-color: var(--white);
		border: 1px solid var(--stroke);
		color: var(--black-alt);
		font-size: size(14);
		line-height: size(16);
		font-weight: 400;
		outline: 0;
		border-radius: 8px;
		padding: size(11) size($bs);
		height: size(40);
		&::-webkit-input-placeholder {
			color: var(--gray);
		}
		&::-moz-placeholder {
			color: var(--gray);
		}
		&:-ms-input-placeholder {
			color: var(--gray);
		}
		&:not(:disabled):focus {
			background-color: var(--white);
			border-color: var(--accent);
		}
		&:disabled,
		&[disabled],
		&.disabled {
			background-color: #efefef !important;
			border-color: #aeaeae !important;
		}

		&_bg {
			&_fill {
				background-color: var(--bg);
				border-color: var(--bg);
				&.error {
					background-color: var(--danger-02);
					border-color: var(--danger-02);
				}
				&.success {
					background-color: var(--success-02);
					border-color: var(--success-02);
				}
				&:disabled,
				&[disabled],
				&.disabled {
					background-color: #efefef !important;
					border-color: #efefef !important;
				}
			}
		}
		&_right {
			text-align: right;
		}
		&_width {
			&_full {
				max-width: 100%;
				width: 100%;
			}
		}
	}
	textarea#{&}__input {
		resize: vertical;
		min-height: size(250);
		line-height: 1.5;
	}
	&__icon + &__input {
		padding-left: size(16 + $sm + 8);
	}
	&.error &__input:not(.control__input_bg_fill),
	&_error &__input:not(.control__input_bg_fill),
	&__input.error:not(.control__input_bg_fill) {
		border-color: var(--danger-01);
	}
	&.success &__input:not(.control__input_bg_fill),
	&_success &__input:not(.control__input_bg_fill),
	&__input.success:not(.control__input_bg_fill) {
		border-color: var(--success-01);
	}

	div#{&}__error {
		position: absolute;
		top: 100%;
		left: size($bs);
		color: var(--danger-01);
		font-size: size(14);
		font-weight: 400;
		display: block;
		margin-top: size(4);
	}
	&__switch {
		position: absolute;
		top: size(12);
		right: size(12);
		outline: 0;
		cursor: pointer;
		border: 0;
		background-color: transparent;
		padding: 0;
		width: size(16);
		height: size(16);
		color: var(--gray);
		&:hover {
			color: var(--text-base);
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__tips {
		position: relative;
		align-self: center;
		margin-left: size($bs);
		width: size(16);
		height: size(16);
		padding: size(1);
		color: var(--gray);
		z-index: 1;
		svg {
			width: size(14);
			height: size(14);
		}
		div {
			position: absolute;
			left: 100%;
			top: 50%;
			margin-left: size(4);
			transform: translateY(-50%);
			color: var(--text-base);
			background-color: var(--bg);
			font-size: size(14);
			line-height: 1.5;
			font-weight: 400;
			padding: size($sm);
			min-width: size(100);
			box-shadow: var(--shadow2);
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
		}
		&:hover div {
			transition: opacity 150ms ease, visibility 150ms ease;
			opacity: 1;
			visibility: visible;
		}
	}
}
