$classRadio: radio;
.#{$classRadio} {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	outline: 0;
	cursor: pointer;
	font-weight: inherit;
	font-family: var(--font-main);
	width: max-content;
	user-select: none;
	& + .#{$classRadio} {
		margin-top: size($bs);
	}
	&__input {
		display: none !important;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&[data-half="true"] + .#{$classRadio}__mark {
			background-color: var(--accent);
			border-color: var(--accent);
		}
		&:checked + .#{$classRadio}__mark {
			background-color: var(--accent);
			border-color: var(--accent);
		}
		&.error + .#{$classRadio}__mark {
			border: 2px solid var(--red-alt);
		}
		&.error:checked + .#{$classRadio}__mark {
			background-color: var(--red-alt);
		}
	}
	&__mark {
		display: inline-block;
		width: size(16);
		height: size(16);
		border-radius: 50%;
		flex-shrink: 0;
		border: 2px solid var(--gray);
		background-color: transparent;
		position: relative;
	}
	&__text {
		display: inline-block;
		width: calc(100% - #{size(16)});
		flex: 1 0 calc(100% - #{size(16)});
		padding-left: size(8);
		font-size: size(14);
		font-weight: 400;
		line-height: 1;
		//line-height: size(18);
		color: var(--text-base);
		user-select: none;
	}
	&_align_right &__mark {
		order: 2;
	}
	&_align_right &__text {
		padding-left: 0;
		padding-right: size(8);
		order: 1;
	}
	&__input:disabled + &__mark {
		background-color: #efefef !important;
		border-color: #aeaeae !important;
		&:after {
			border-left-color: #aeaeae !important;
			border-bottom-color: #aeaeae !important;
		}
	}
}
