.attach-link {
	display: flex;
	align-items: center;
	&__link {
		color: var(--accent);
		text-decoration: underline;
		cursor: pointer;
		display: block;
		width: max-content;
		max-width: size(325);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-right: size($sm);
		font-size: size(14);
		font-weight: 500;
		line-height: 1.5;
	}
	&__controls {
		display: flex;
		align-items: center;
		//gap: size(4);
	}
	&__button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		outline: 0;
		cursor: pointer;
		line-height: 1;
		padding: 0;
		border: 0;
		background-color: transparent;
		color: var(--gray);
		width: size(20);
		height: size(20);
		&:hover {
			color: var(--accent);
		}
		svg {
			width: size(16);
			height: size(16);
		}
	}
}
