.badge {
	--badge-bg: var(--badge-info);
	--badge-color: var(--color-info);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: size(12);
	font-weight: 500;
	line-height: size(27);
	padding: 0 size(14);
	border-radius: 8px;
	background-color: var(--badge-bg);
	color: var(--badge-color);
	border: 0;
	outline: 0;
	text-decoration: none;
	white-space: nowrap;
	&_active,
	&_info {
		--badge-bg: var(--badge-info);
		--badge-color: var(--color-info);
	}
	&_danger {
		--badge-bg: var(--badge-danger);
		--badge-color: var(--color-danger);
	}
	&_warn {
		--badge-bg: var(--badge-warn);
		--badge-color: var(--color-warn);
	}
	&_success {
		--badge-bg: var(--badge-success);
		--badge-color: var(--color-success);
	}
}
button.badge {
	cursor: pointer;
}
