.dropdown {
	position: relative;
	width: max-content;
	&__toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		outline: 0;
		cursor: pointer;
		border: 0;
		border-radius: 8px;
		background-color: transparent;
		color: var(--gray);
		padding: size($sm-div);
		&:hover {
			color: var(--black-alt);
		}
		//.open & {
		//	background-color: var(--pressed);
		//}
		svg {
			width: size(16);
			height: size(16);
		}
	}
	&.open &__toggle {
		color: var(--black-alt);
		background-color: var(--pressed);
	}
	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		background-color: var(--white);
		box-shadow: 0 16px 24px rgba(0, 0, 0, 0.03), 0 2px 6px rgba(0, 0, 0, 0.01), 0 0 1px rgba(0, 0, 0, 0.01);
		border-radius: 8px;
		margin-top: 4px;
		display: none;
		&_end {
			left: auto;
			right: 0;
		}
		//.open & {
		//	display: block;
		//}
	}
	.dropdown.open &__list {
		display: block;
	}
	&__item {
		display: flex;
		align-items: center;
		padding: size($sm);
		font-size: size(14);
		font-weight: 400;
		line-height: 1.2;
		color: var(--black-alt);
		width: 100%;
		outline: 0;
		cursor: pointer;
		background-color: var(--white);
		border: 0;
		white-space: nowrap;
		min-width: size(170);
		user-select: none;
		&:first-child {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		&:last-child {
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
		}
		&:hover {
			background-color: var(--bg);
		}
		&.active {
			font-weight: 600;
		}
		&.disabled {
			pointer-events: none;
			color: var(--gray);
		}
	}
}
