.editor {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	visibility: hidden;
	background: rgba(0,0,0,.3);
	opacity: 0;
	&.open {
		display: block;
		visibility: visible;
		opacity: 1;
	}
	&-box {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: size(590);
		z-index: 3;
		background-color: var(--white);
		overflow: hidden;
		height: 100%;
		&_add {
			left: calc(var(--side-width) + var(--inbox-main-width));
			width: auto;
		}
		&__inner {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: size($bs) size($lg) size($bs);
			min-height: size(72);
		}
		&_add &__header {
			border-bottom: 1px solid var(--stroke);
		}
		&__back {
			outline: 0;
			cursor: pointer;
			border: 0;
			padding: 0;
			background-color: transparent;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: size(16);
			line-height: 1;
			font-weight: 500;
			color: var(--text-base);
			svg {
				display: inline-block;
				width: size(16);
				height: size(16);
				color: inherit;
			}
			&:hover {
				svg {
					transition: transform var(--time) var(--anim);
					transform: translateX(-2px);
				}
			}
		}
		&__search {
			margin-left: auto;
			max-width: size(565);
			width: 100%;
		}
		&__body {
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			flex: 1;
			padding: 0 size($lg) 0;
		}
		&_add &__body {
			display: flex;
			padding-left: 0;
			padding-right: 0;
		}
		&__side {
			height: 100%;
			width: size(240);
			flex-shrink: 0;
			border-right: 1px solid var(--stroke);
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			color: transparent;
			transition: color var(--time) var(--anim);
			scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
			scrollbar-width: thin;
			&:hover {
				scrollbar-color: rgba(0,0,0,.5) rgba(0,0,0,0);
				color: rgba(0,0,0,.5);
			}
			&::-webkit-scrollbar{
				width: 8px;
				height: 8px;
			}
			&::-webkit-scrollbar-track {
				border-radius: 5px;
				background: rgba(0,0,0,0);
			}
			&::-webkit-scrollbar-thumb {
				height: 4px;
				border: 2px solid transparent;
				border-radius: 10px;
				background-clip: content-box;
				box-shadow: inset 0 0 0 10px;
			}
			&::-webkit-scrollbar-button {
				width: 0;
				height: 0;
				display: none;
			}
			&::-webkit-scrollbar-corner {
				background-color: transparent;
			}
		}
		&__content {
			flex: 1;
			height: 100%;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			color: transparent;
			transition: color var(--time) var(--anim);
			scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
			scrollbar-width: thin;
			&:hover {
				scrollbar-color: rgba(0,0,0,.5) rgba(0,0,0,0);
				color: rgba(0,0,0,.5);
			}
			&::-webkit-scrollbar{
				width: 8px;
				height: 8px;
			}
			&::-webkit-scrollbar-track {
				border-radius: 5px;
				background: rgba(0,0,0,0);
			}
			&::-webkit-scrollbar-thumb {
				height: 4px;
				border: 2px solid transparent;
				border-radius: 10px;
				background-clip: content-box;
				box-shadow: inset 0 0 0 10px;
			}
			&::-webkit-scrollbar-button {
				width: 0;
				height: 0;
				display: none;
			}
			&::-webkit-scrollbar-corner {
				background-color: transparent;
			}
		}
		&__footer {
			//margin-top: size($bs*0.5);
			display: flex;
			flex-direction: column;
			gap: size(4);
			padding: size($bs*0.5) size($lg) size($bs*0.5);
			&_row {
				justify-content: flex-end;
				flex-direction: row;
				gap: size($md);
			}
		}
		&_add &__footer {
			border-top: 1px solid var(--stroke);
		}
		&__section {
			&:not(:last-child){
				margin-bottom: size($md);
			}
		}
	}
}
