.header {
	background-color: var(--white);
	padding: size($sm*2);
	color: var(--text-base);
	.page_split & {
		padding-left: size($md);
		padding-right: size($md);
	}
	&__head {
		padding-top: size($bs-div);
		display: flex;
		align-items: center;
		column-gap: size(60);
	}
	&__headline {
		font-weight: 600;
		font-size: size(24);
		line-height: 1.2;
		margin: 0;
		display: flex;
		align-items: center;
	}
	&__icon {
		width: size(20);
		height: size(20);
		flex-shrink: 0;
		display: flex;
		margin-left: size($bs * 0.5);
		img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}
	&__date {
		font-size: size(14);
		line-height: 1.5;
		font-weight: 400;
		color: var(--text-base);
	}
	&__status {
		--header-status: var(--color-info);
		position: relative;
		font-size: size(14);
		line-height: 1.2;
		font-weight: 500;
		padding-left: size(16);
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			margin: auto 0;
			border-radius: 50%;
			width: size(8);
			height: size(8);
			background-color: var(--header-status);
		}
		&_info {
			--header-status: var(--color-info);
		}
		&_warn {
			--header-status: var(--color-warn);
		}
		&_danger {
			--header-status: var(--color-danger);
		}
		&_success {
			--header-status: var(--color-success);
		}
	}
	&__controls {
		display: flex;
		align-items: center;
		margin-left: auto;
		gap: size($sm);
	}
	&__text {
		margin-top: size($md-div);
		font-size: size(14);
		font-weight: 400;
		line-height: 1.5;
	}
	&__bar {
		display: flex;
		align-items: center;
		margin-bottom: size($bs-div);
		padding-top: size($bs-div);
	}
	&__back {
		display: inline-flex;
		align-items: center;
		gap: size(4);
		color: var(--text-base);
		font-size: size(16);
		font-weight: 500;
		line-height: 1.2;
		margin-right: size($sm);
		svg {
			display: inline-block;
			width: size(16);
			height: size(16);
			color: inherit;
		}
		&:hover {
			svg {
				transition: transform var(--time) var(--anim);
				transform: translateX(-2px);
			}
		}
	}
	&__search {
		margin-top: size($bs);
	}
	.breadcrumbs {
		margin: 0;
	}
}
