.toolbar {
	display: flex;
	align-items: center;
	margin-bottom: size($bs);
	gap: size($bs);
	&__main {
		flex: 0 0 size(700);
		.page_split & {
			flex: 0 0 size(190);
		}
	}
	&__controls {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		gap: size($bs-div);
	}
}
