.section {
	background-color: var(--white);
	border: 1px solid var(--stroke);
	padding: size($md);
	border-radius: 8px;
	margin-bottom: size($sm*2);
	.index & {
		max-width: size(1140);
	}
	&_lg {
		padding: size($md * 2);
	}
	&_alt {
		border: 0;
	}
	&_size {
		&_short {
			max-width: size(500);
			width: 100%;
		}
	}
	&__header {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: size($md);
	}
	&_alt &__header {
		margin-bottom: size($sm*2);
	}
	&__headline {
		font-size: size(20);
		font-weight: 700;
		line-height: 1.2;
		margin: 0;
		&_lg {
			font-size: size(24);
			line-height: 1.5;
			font-weight: 600;
		}
	}
	&_alt &__headline {
		text-transform: uppercase;
		font-weight: 600;
		font-size: size(16);
		letter-spacing: 0.02em;
	}
	&__link {
		margin-left: auto;
		display: inline-block;
		color: var(--accent);
		font-size: size(14);
		line-height: 1.5;
		font-weight: 400;
		&:hover {
			color: var(--accent-hover);
		}
	}
	&__description {
		flex: 1 1 100%;
		max-width: 100%;
		margin-top: size($md * 0.5);
		font-size: size(16);
		line-height: 1.5;
		p {
			margin: 0;
		}
	}
	&__content {
		font-size: size(14);
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
		[class*='col-'] {
			> *:first-child {
				margin-top: 0;
			}
			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__content + &__header {
		padding-top: size($md);
		border-top: 1px solid var(--stroke);
		margin-top: size($md);
	}
	&__content + &__header &__headline {
		font-size: size(12);
	}
	&__controls {
		display: flex;
		flex-wrap: wrap;
		gap: size($sm);
		margin-top: size($md);
	}
	&__footer {
		display: flex;
		flex-wrap: wrap;
		margin-top: size($sm*2);
		padding-top: size($md);
		border-top: 1px solid var(--stroke);
	}
}
