.subscription {
	&__section {
		padding: size($bs * 2) 0;
		&:not(:last-child){
			border-bottom: 1px solid var(--stroke);
		}
	}
	&__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--bg);
		border-radius: 8px;
		padding: size($md * 2) size($sm * 2);
	}
	&__label,
	&__value {
		font-size: size(16);
		line-height: 1.2;
		font-weight: 600;
	}
	&__headline {
		font-size: size(20);
		line-height: 1.2;
		font-weight: 600;
		margin: 0 0 size($md);
	}
	&__plans {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: size($lg);
	}
}
