.table {
	$indentEdge: 16+10;
	$indentInner: 20;
	position: relative;
	width: 100%;
	margin-bottom: size($bs*2);
	table {
		width: 100%;
		border: 0;
		border-collapse: collapse;
	}
	th {
		font-size: size(12);
		line-height: size(16);
		font-weight: 500;
		text-transform: uppercase;
		padding: size($md-div);
		text-align: left;
		background-color: var(--bg);
		color: var(--black-alt);
		letter-spacing: 0.04em;
		&:first-child {
			padding-left: size($sm-div + $md-div);
		}
		&:last-child {
			padding-right: size($sm-div + $md-div);
		}
		.editor & {
			padding-top: size($bs);
			padding-bottom: size($bs);
			letter-spacing: 0.02em;
			font-weight: 600;
		}
	}
	tbody tr {
		&:not(:first-child) {
			border-top: 1px solid var(--stroke);
		}
		&.active,
		&:hover {
			background-color: var(--bg);
			border-top-color: transparent;
		}
		&.active + tr,
		&:hover + tr {
			border-top-color: transparent;
		}
	}
	tbody tr:first-child td {
		padding-top: size($sm-div + 2);
		.editor & {
			padding-top: size($md);
		}
	}
	td {
		font-size: size(15);
		line-height: size(18);
		color: var(--text-base);
		padding: size($sm-div) size($md-div);
		&:first-child {
			padding-left: size($sm-div + $md-div);
		}
		&:last-child {
			padding-right: size($sm-div + $md-div);
		}
		.editor & {
			padding-top: size($md);
			padding-bottom: size($md);
		}
	}
	&__sub.hidden {
		display: none;
	}

	&__group {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		//display: flex;
		flex-wrap: wrap;
		gap: size(12);
		padding: 0 size($bs);
		display: none;
		.checkbox {
			margin-right: size(8);
		}
	}
	&_groups &__group {
		display: flex;
	}
	&_groups thead {
		// это сделано для того, чтобы таблица не "ломала" ширину ячеек, когда включена панель для групповых операций
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&__w {
		&_16 {
			width: size(16 + $indentEdge);
		}
		&_28 {
			width: size(28 + $indentEdge);
		}
		&_40 {
			width: size(40 + $indentInner);
		}
		&_120 {
			width: size(120 + $indentInner);
		}
	}

	&__head {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: size(4);
		min-height: size(20);
		width: 100%;
		text-align: left;
	}
	button#{&}__head {
		cursor: pointer;
		outline: 0;
		border: 0;
		background: transparent;
		padding: 0;
	}
	&__sort {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: size(12);
		svg {
			width: size(12);
			height: size(12);
			margin-top: -2px;
		}
	}
	&__pic {
		border-radius: 4px;
		background-color: #C4C4C4;
		width: size(40);
		height: size(40);
		flex-shrink: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}
	&__text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: size(300);
	}
	&__short-text {
		position: relative;
		width: size(125);
		min-height: size(18);
		div {
			background-color: var(--white);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			.active & {
				background-color: var(--bg);
			}
		}
		&:hover {
			div {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				padding-right: size(8);
			}
		}
	}
	&__toggle {
		display: block;
		margin: 0 auto;
		color: var(--gray);
		width: size(16);
		height: size(16);
		outline: 0;
		cursor: pointer;
		border: 0;
		padding: 0;
		background-color: transparent;
		svg {
			width: size(16);
			height: size(16);
		}
		&.active {
			svg {
				transform: rotate(90deg);
			}
		}
		tr.active & {
			svg {
				transform: rotate(90deg);
			}
		}
	}
	&__good {
		display: flex;
		align-items: center;
		gap: size($md);
	}
	tr#{&}__empty {
		&:hover {
			background-color: var(--white);
		}
		td:first-child {
			text-align: center;
			font-size: size(12);
			line-height: 1.2;
			font-weight: 500;
			letter-spacing: 0.04em;
			color: var(--text-base);
			padding-top: size(80);
		}
	}
}
