mixin navigation()
	nav.navigation
		.navigation__list
			for item in navArray
				- var isActive = (active === item.name) ? 'active': '';
				.navigation__item
					a.navigation__link(href='#' class=isActive)
						+icon(item.icon, 'navigation__icon')
						span.navigation__name=item.name
