extends ../templates/index

block content
	.section.section_lg.section_size_short
		.section__header
			.section__headline.section__headline_lg Tell us about yourself
		.section__content
			form.form
				.form__group
					.row
						.col
							+radio({text:'Personal account', checked: true, name: 'radio1'})
						.col
							+radio({text:'Business account', name: 'radio1'})
				.form__group
					.form__label.form__label_alt Your name
					+control({
						attr: {
							placeholder: 'name',
							name: 'name'
						}
					})
				.form__group
					.form__label.form__label_alt Country
					+select({
						list: [
							{value: 'USA'},
							{value: 'Not USA'}
						],
						name: 'country',
						def: 'Select country',
						status: 'open'
					})
				.form__footer
					+button({text: 'Create store', mods: 'width_full', disabled: true})
