extends ../templates/index
include ../components/steps
include ../components/upload-photo
include ../components/informer
include ../components/attach-link
block content
	+steps([
		{text: 'Name your shop', extra: 'steps__item_complete'},
		{text: 'Stock your shop', extra: 'steps__item_current'},
		{text: 'Payments & messengers'},
		{text: 'Delivery'}
	])
	form
		.section
			.section__header
				.section__headline Photos
				.section__description Add as many as you can so buyer can see every detail.
			.section__content
				.row
					.col-4
						h3 Photos*
						p Use up to ten photos to show your item’s most important qualities.
						+informer
							ul
								li Use natural light and no flash.
								li Include a common object for scale.
								li Show the item being held, worn, or used.
								li Shoot against a clean, simple background.
					.col-8
						+upload-photo([
							{image: '../assets/uploads/item-pic2.jpg'},
							{image: '../assets/uploads/item-pic2.jpg'},
							{upload: true},
							{upload: false},
							{upload: false},
							{upload: false},
							{upload: false},
							{upload: false},
							{upload: false},
							{upload: false}
						])

		.section
			.section__header
				.section__headline Video
				.section__description Bring your product to life with a 5 to 15 second video — it could help you drive more sales. The video won’t feature sound, so let your product do the talking!
			.section__content
				+attach-link(false)
				+attach-link(true)

		.section
			.section__header
				.section__headline Details
				.section__description Tell the world all about your item and why they’ll love it.
			.section__content
				.form
					.form__group.row
						.col-1
							.form__label Title
						.col-4
							+control({
								attr: {
									placeholder: 'Product name',
									name: 'title'
								}
							})
						.col-4
							+informer
								p.
									FilInclude keywords that buyers would use
									to search for your item.
					.form__group.row
						.col-1
							.form__label Type
						.col-4
							+multiple({
								name: 'type',
								list: ['Physical', 'Digital', 'Service']
							})

					.form__group.row
						.col-1
							.form__label Description
						.col-4
							+control({
								type: 'textarea',
								attr: {
									name: 'description'
								},
								text: 'Smash was such a hit on the courts, we’ve decided to take these classic sports shoes and deem them an all-around fashion icon. Updated with softer leather and an improved feel...'
							})
						.col-4
							+informer
								p.
									Start with a brief overview that describes
									your item’s finest features.
								p.
									Not sure what else to say? Shoppers also like hearing about your process, and the story behind this item.
					.form__group.row
						.col-1
							.form__label Tags
						.col-4
							+control({
								attr: {
									placeholder: 'Shape, colot, style, function, ect.',
									name: 'tags'
								}
							})
						.col-4
							+informer
								p.
									What words might someone use to
									search for your listings? Use all 13 tags to
									get found.
					.form__group.row
						.col-1
							.form__label Materials
						.col-4
							+control({
								attr: {
									placeholder: 'Ingredients, components. ect.',
									name: 'materials'
								}
							})

		.section
			.section__header
				.section__headline Variants
				.section__description Add available options like color or size. Buyers will choose from these during checkout.
			.section__content
				.form
					.form__fieldset
						.form__set
							.form__group
								.form__label Option 1
									button.form__remove(type='button') Remove
								.form__option
									+control({
										attr: {
											placeholder: 'Option 1',
											name: 'option1',
											value: 'Size'
										}
									})
									+multiple({
										name: 'sizes',
										list: ['8', '9', '9,5']
									})
						.form__set
							.form__group
								.form__label Option 2
									button.form__remove(type='button') Remove
								.form__option
									+control({
										attr: {
											placeholder: 'Option 2',
											name: 'option2',
											value: 'Color'
										}
									})
									+multiple({
										name: 'colors',
										list: ['Black', 'White', 'Red', 'Green']
									})
				.section__controls
					+button({text: 'Add variations', mods: 'bg_gray'})

		.section
			.section__header
				.section__headline Category
				.section__description Categories allow you to group products by similar attributes.
			.section__content
				.form
					.form__fieldset
						.form__set
							.form__group
								.form__label Category 1
									button.form__remove(type='button') Remove
								+control({
									attr: {
										placeholder: 'Category 1',
										name: 'category1',
										value: 'Shoes'
									},
									autocomplete: true
								})
						.form__set
							.form__group
								.form__label Subcategory 1
									button.form__remove(type='button') Remove
								+control({
									attr: {
										placeholder: 'Subcategory 1',
										name: 'subcategory1',
										value: 'Puma'
									}
								})
					.form__footer
						+button({text: 'Add subcategory', mods: 'link, color_accent', icon: 'plus'})

				.form
					.form__fieldset
						.form__set
							.form__group
								.form__label Category 2
									button.form__remove(type='button') Remove
								+control({
									attr: {
										placeholder: 'Category 2',
										name: 'category2'
									}
								})
					.form__footer
						+button({text: 'Add subcategory', mods: 'link, color_accent', icon: 'plus'})
				.section__controls
					+button({text: 'Add category', mods: 'bg_gray'})

		.section
			.section__header
				.section__headline Shipping
				.section__description Set clear and realistic shipping expectations for shoppers by providing accurate processing time.
			.section__content
				.form
					.form__group
						+checkbox({text: 'This is a physical product.', checked: true})
					.form__group.row
						.col-2
							.form__label Item weight
						.col-3
							+control({
								attr: {
									placeholder: 'Ib',
									name: 'ib'
								}
							})
						.col-3
							+control({
								attr: {
									placeholder: 'oz',
									name: 'oz'
								}
							})
					.form__group.row
						.col-2
							.form__label Item size (packed)
						.col-3
							+control({
								attr: {
									placeholder: 'Length',
									name: 'length'
								}
							})
						.col-3
							+control({
								attr: {
									placeholder: 'Width',
									name: 'width'
								}
							})
						.col-3
							+control({
								attr: {
									placeholder: 'height',
									name: 'height'
								}
							})

		.index__footer
			+button({text: 'Back', mods: 'link'})
			+button({text: 'Save and continue'})
