extends ../templates/index
include ../components/steps
block content
	+steps([
		{text: 'Name your shop', extra: 'steps__item_complete'},
		{text: 'Stock your shop', extra: 'steps__item_complete'},
		{text: 'Payments & messengers', extra: 'steps__item_current'},
		{text: 'Delivery'}
	])
	form
		.section
			.section__header
				.section__headline Payment & messengers
				.section__description Add your shops via messengers you use to sell.
			.section__content
				.form
					.form__group
						+checkbox({text: 'Telegram', checked: true})
						.form__hidden.show
							.form__group
								.form__label Telegram token:
								+control({
									attr: {
										name: 'tg-token'
									},
									tips: 'Tips text'
								})
							.form__group
								.form__label Telegram payment token:
								+control({
									attr: {
										name: 'tg-payment-token'
									},
									tips: 'Tips text'
								})
							.form__group
								.form__label Coinbase token:
								+control({
									attr: {
										name: 'coinbase-token'
									},
									tips: 'Tips text'
								})
					.form__group
						+checkbox({text: 'Viber'})
						.form__hidden
							.form__group
								.form__label Viber token:
								+control({
									attr: {
										name: 'vb-token'
									}
								})
							.form__group
								.form__label Viber payment token:
								+control({
									attr: {
										name: 'vb-payment-token'
									}
								})
							.form__group
								.form__label Coinbase token:
								+control({
									attr: {
										name: 'coinbase-token'
									}
								})
					.form__group
						+checkbox({text: 'Facebook messenger'})
						.form__hidden
							.form__group
								.form__label Facebook token:
								+control({
									attr: {
										name: 'fb-token'
									}
								})
							.form__group
								.form__label Facebook payment token:
								+control({
									attr: {
										name: 'fb-payment-token'
									}
								})
							.form__group
								.form__label Coinbase token:
								+control({
									attr: {
										name: 'coinbase-token'
									}
								})
		.index__footer
			+button({text: 'Back', mods: 'link'})
			+button({text: 'Save and continue'})
