extends ../templates/base
include ../components/dropdown
include ../components/item
include ../components/pagination
block variables
	-
		var title = 'Order AKN183333';
		var active = 'Orders';
		var isModalOpen = true;
block content
	+header({
		back: true,
		headline: 'Order AKN183333',
		controls: true,
		date: true,
		status: {text: 'Pending', status: 'warn'}
	})
	.content.content_bg

		.row.row_gutter_24
			.col-7
				.section.section_alt
					.section__header
						.section__headline Product Info
					.section__content
						+item({
							img: '../assets/uploads/item-pic2.jpg',
							name: 'PUMA Smash v2 Sneakers',
							specs: [{label: 'Color:', value: 'Black'}, {label: 'Size:', value: 'US 10'}],
							qnt: '2',
							price: '$ 3 398.00'
						})
				.section.section_alt
					.section__header
						.section__headline Payment
					.section__content
						.table-inner
							table
								tbody
									tr
										td
											| Subtotal
										td
										td.table-inner_align_right
											| $ 3 398.00
									tr
										td
											| #[span.table-inner__disabled Discount]
										td
										td.table-inner_align_right
											| #[span.table-inner__disabled $ 0.00]
									tr
										td
											| #[span.table-inner__disabled Shipping]
										td
										td.table-inner_align_right
											| #[span.table-inner__disabled $ 0.00]
									tr
										td
											| Tax
										td
											| PDV 20%
										td.table-inner_align_right
											| $ 679.60
									tr.table-inner__total
										td(colspan='2')
											| #[b Total]
										td.table-inner_align_right
											| $ 3 398.00
			.col-5
				.section.section_alt
					.section__header
						.section__headline Customer Info
					.section__content
						.table-inner
							table
								tr
									td
										| User ID:
									td
										| #[span 105088845334]
								tr
									td
										| Messenger:
									td
										| #[span Telegram]
						.section__controls
							+button({text: 'Write Customer', mods: 'bg_gray,width_full'})
					.section__header
						.section__headline Shipping
					.section__content
						.table-inner
							table
								tr
									td
										| Full name
									td
										| #[span User Name]
								tr
									td
										| Address
									td
										| #[span Street Name, 01]
								tr
									td
										| Apartment, suite, ect.
									td
										| #[span 012]
								tr
									td
										| City
									td
										| #[span City name]
								tr
									td
										| Postal Code
									td
										| #[span 0123456789]
								tr
									td
										| Country/region
									td
										| #[span Country name]
								tr
									td
										| Phone number
									td
										| #[span +0 000 123-45-67]

		.modal.open
			.modal-box
				.modal-box__content
					.modal-box__header
						.modal-box__headline Save this customer?
						button.modal-box__close(type='button')
							+icon('x')
					.modal-box__body
						| Would you like to add this customer to your list?
					.modal-box__footer
						+button({text: 'Decline', mods:'bg_gray'})
						+button({text: 'Save'})
