extends ../templates/base
include ../components/pagination
include ../components/badge
include ../components/dropdown
block variables
	-
		var title = 'Products';
		var active = 'Products';

block content
	+header({
		back: false,
		headline: 'Products',
		text: 'Categories allow you to group products by similar attributes. The categories in your store are shown below.'
	})
	.content
		.toolbar
			.toolbar__main
				form.filter
					.filter__item
						div.control
							input.control__input(placeholder='Search')
					.filter__item
						+select({
							def: 'All status',
							list: [
								{value: 'All status', action: 'selected'},
								{value: 'Active'},
								{value: 'Inactive'},
								{value: 'Disabled', action: 'disabled'}
							]
						})
						div.control
							.control__select
								select
									option(value='0' selected='selected') All status
									option(value='1') Active
									option(value='2') Inactive
								.control__toggle All status
									+icon('chevron-down')
								.control__dropdown
									.control__item.active All status
									.control__item Active
									.control__item Inactive
					.filter__item
						| type
					.filter__item
						| Category
			.toolbar__controls
				+button({text: 'Export', mods: 'link'})
				+button({text: 'Import', mods: 'link'})
				+button({icon: 'plus', text: 'Add Product'})

		div.table
			table
				thead
					tr
						th.table__w_16
							+checkbox({
								name: 'all'
							})
						th.table__w_40
						th
							a.table__head(href='#')
								| Name
								span.table__sort
									+icon('chevron-down')
						th
							a.table__head(href='#')
								| Type
								span.table__sort
									+icon('chevron-up')
									+icon('chevron-down')
						th
							a.table__head(href='#')
								| Category
								span.table__sort
									+icon('chevron-up')
									+icon('chevron-down')
						th
							a.table__head(href='#')
								| Quantity
								span.table__sort
									+icon('chevron-up')
									+icon('chevron-down')
						th
							a.table__head(href='#')
								| On&nbsp;hold
								span.table__sort
									+icon('chevron-up')
									+icon('chevron-down')
						th
							a.table__head(href='#')
								| SKU
								span.table__sort
									+icon('chevron-up')
									+icon('chevron-down')
						th
							a.table__head(href='#')
								| Price
								span.table__sort
									+icon('chevron-up')
									+icon('chevron-down')
						th
							a.table__head(href='#')
								| Status
								span.table__sort
									+icon('chevron-up')
									+icon('chevron-down')
						th.table__w_28
				tbody
					tr
						td
							+checkbox({name:'item1'})
						td
							.table__pic
								img(src='../assets/uploads/item-pic1.png' alt='')
						td
							.table__short-text
								div Professional nail and beauty
						td
							|Service
						td
							|Beauty
						td
							|N/A
						td
							|N/A
						td
							|N/A
						td
							|$90,00
						td
							+badge({status:'active', text: 'Active'})
						td
							+dropdown({
								icon: 'more-vertical',
								modification: 'dropdown__list_end',
								list: [
									{content: 'View Product'},
									{content: 'Make Inactive', action: 'active'},
									{content: 'Archive Product', action: 'disabled'},
									{content: 'Delete Product'}
								]
							})
					tr
						td
							+checkbox({name: 'item2'})
						td
							.table__pic
								img(src='../assets/uploads/item-pic2.jpg' alt='')
						td
							.table__short-text
								div Puma Ultra Cross Smash v2 Plus Limited Edition
						td
							| Service
						td
							| Beauty
						td
							| N/A
						td
							| N/A
						td
							| N/A
						td
							| $90,00
						td
							+badge({status: 'danger', text: 'Inactive'})
						td
							+dropdown({
								icon: 'more-vertical',
								modification: 'dropdown__list_end',
								list: [
									{content: 'View Product'},
									{content: 'Make Inactive', action: 'active'},
									{content: 'Archive Product', action: 'disabled'},
									{content: 'Delete Product'}
								]
							})
		+pagination
