@use 'sass:math';
@import "mixin/func";

$bs: 16; //base
$md: 20; //medium
$sm: 12; //small
$lg: 28; //large

$bs-div: math.div($bs, 2);
$md-div: math.div($md, 2);
$sm-div: math.div($sm, 2);

$sideWidth: size(236);

:root {
	--text-base:  #3E424E;
	--text-additional: #6B778C;

	--stroke: #EAEAEA;
	--accent: #681F9C;
	--accent-hover: #8138B6;
	--accent-pressed: #5E1395;
	--bg: #FAFAFB;
	--sidebar: #1E1E1E;

	--button2: #F2F2F2;
	--pressed: #F2F2F2;
	--button2-hover: #FAFAFB;
	--button2-pressed: #EEEEF1;
	--button-danger: #EB4335;
	--button-danger-hover: #F16458;
	--button-danger-pressed: #C43125;

	--badge-info: #EAECFF;
	--badge-danger: #FAE7E6;
	--badge-warn: #fff;
	--badge-success: #fff;
	--color-info: #2E7ABD;
	--color-danger: #D6362D;
	--color-warn: #fff;
	--color-success: #fff;

	--white: #FFFFFF;
	--red: #E76340;
	--gray: #A4A4A4;
	--gray-alt: #ABABAB;
	--black: #262626;
	--black-alt: #3E424E;

	--shadow: 0px 16px 24px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(0, 0, 0, 0.01);
	--shadow2: 0px 1px 3px rgba(0, 0, 0, 0.2);
	--dropdown: 0 16px 24px rgba(8, 35, 48, 0.16);

	--danger-00: #F3A7A7;
	--danger-01: #E64E4E;
	--success-00: #bdf3a7;
	--success-01: #5FCA43;
	--warn-00: #ffefcc;
	--warn-01: #ffaf01;

	--font-main: 'Inter', sans-serif;
	--html: 100%;

	--typography-indent: #{size($bs)};

	--gutter-x: #{size($md)};
	--gutter-y: 0;

	--time: 150ms;
	--anim: ease;
}
