mixin checkbox(obj)
	-
		var attr = {
			type: 'checkbox',
			name: obj.name
		}
		if('checked' in obj){
			attr['checked'] = 'checked';
		}
		if('half' in obj){
			attr['data-half'] = 'true';
		}
		if ('disabled' in obj) {
			attr['disabled'] = 'disabled';
		}
	label.checkbox
		input.checkbox__input&attributes(attr)
		span.checkbox__mark
		if obj.text
			span.checkbox__text=obj.text
